# ===============================
# Application Configuration Example. Use this to populate your own config
# ===============================

# shared configurations
USER_ID: "user-1234"
DATASET_ID: "aa-Dataset-abc"
DATASET_FOLDER: "DATASET_ABC"

# job specific configurations
JOB_TIMEOUT: 3
JOB_POLL_RATE: 2
JOB_EXPECTED_NR_FILES: 0

# client specific configurations
CLIENT_API_HOST: "https://api.example.com"
CLIENT_ACCESS_TOKEN: "youraccesstoken"

# secrets to consume sensitive data from
DB_SECRET_NAME: "db-secret"
CERT_SECRET_NAME: "cert-secret"

# mail specific configurations
MAIL_ADDRESS: "myemail@example.com"
MAIL_PASSWORD: "mypasswordemail"
MAIL_UPLOADER: "jane@example.com"
MAIL_UPLOADER_NAME: "Jane Doe"
MAIL_UPLOADER_ORGANIZATION_NAME: "org"
MAIL_SMTP_HOST: "smtp.example.com"
MAIL_SMTP_PORT: 587
